@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  body {
    background-color:white
  }
  #text0 {
    padding: 20px;
    font-size: 18px;
  }
  .text0 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav{
    background: black;
    height: 80px;
    width: 100%;
    position: fixed;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    color: crimson;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: crimson;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: absolute;
      width: 100%;
      height: 100vh;
      background: black;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: crimson;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
.main0 {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.main0 h2 {
    font-size: 5vmin;
}
.line {
    width: 150px;
    height: 4px;
    background: red;
    margin: 10px auto;
    border-radius: 5px;
}
.main0 h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn {
    padding: 8px 15px;
    background: red;
    border-radius: 30px;
    color: whitesmoke;
}
  #home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    z-index: 0;
}
.home .video-container video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.home .controls{
  
    padding: 1rem;
    border-radius: 5rem;
    background: rgb(0,0,0,0.7);
    position: relative;
    top: 1 rem;
}
.home .controls .vid-btn{
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0.5rem;
}
.home .controls .vid-btn.active {
    background: red;
}

.text0 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}
#text0 {
  width: 90%;
  align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
}
#text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 20px;
}
#te {
  font-size: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main1 {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Content occupies 2/3 and Image occupies 1/3 of the space */
    gap: 20px; /* Gap between the columns */
  }
  .content {
    margin-top: 10px;
    padding: 30px;
    font-size: 20px;
  }
  .image {
    padding: 20px;
  }
   .image img {
    max-width: 85%; 
    border-radius:50%;
  }
  @media (max-width: 768px) {
    .main1 {
      grid-template-columns: 1fr; 
    }
  }


  
  .card_article img{
    background-size: cover;
    border-radius: 1.5rem;
    width: 328px;
    height:400px;
    transition: transform 0.3s ease;
 }
 .card_article :hover {
     transform: scale(1.1);
   }
 .card_article-content {
     padding: 20px;
   }
   
 .card_article-content h2 p{
     margin-top: 0;
   }
   .main2 {
     display: grid;
     place-items: center;
     margin-inline: 1.5rem;
     padding-block: 5rem;
     margin: 0;
 }
 .card_container {
     display: grid;
     row-gap: 3.5rem;
 }
 .card_article {
     position: relative;
 }
 .card_data {
     width: 280px;
     background-color: #fff;
     padding: 1.5rem 2 rem;
     box-shadow: 0 8px 24px hsla(0, 0%,0%,.15);
     border-radius: 1rem;
     position: absolute;
     bottom: -2rem;
     left: 0;
     right: 0;
     margin-inline: auto;
     transition: opacity 1s 1s;
     box-shadow: 0 25px 45px rgba(66, 67, 67, 0.919); 
 }
 .card_description {
     display: block;
     font-size: 20px;
     margin-bottom: .25rem;
 }
 .card_title {
     font-size: 20px;
     font-weight: 500;
     color:black;
     margin-bottom: .75rem;
 }

 
 @media screen and (min-width: 768px) {
  .card_container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  }
  .card_img {
      width: 348px;
  }
  .card_data{
      width: 250px;
      padding-inline: 2.5rem;
  }
}
 @media screen and (min-width: 768px) {
        .card_container {
          grid-template-columns: repeat(2, 1fr);
          column-gap: 1.5rem;
        }
      }
      
      /* For large devices */
      @media screen and (min-width: 1120px) {
        .main2 {
          height: 75vh;
        }
      
        .card_container {
          grid-template-columns: repeat(4, 1fr);
        }
        .card_img {
          width: 348px;
        }
        .card_data {
          width: 316px;
          padding-inline: 2.5rem;
        }
      }
      @media screen and (max-width: 767px) {
        .card_img {
            width: 100% !important; /* Adjust to fill the entire width of the container */
            max-width: 328px !important; /* Set a maximum width to maintain aspect ratio */
        }
    
        .card_data {
            width: 100% !important; /* Adjust to fill the entire width of the container */
            max-width: 328px !important; /* Set a maximum width to maintain aspect ratio */
        }
    }
    
    
    
    

      select {
        width: 200px; 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(10, 221, 28, 0.1);
        font-family: 'Arial', sans-serif;
        color:black;
      }
      select:hover {
        background-color: whitesmoke;
      }
      select option {
        background-color:black;
        color:cadetblue;
        font-weight: bold;
      }
      button {
        padding: 10px 15px;
        font-size: 16px;
        background-color:crimson;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    
      /* Add hover effect */
      button:hover {
        background-color: red;
      }

.select_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.card img {
  height: 100px;
  width: 300px;
  height: auto;
  display: block;
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr; /* Each column occupies the entire width */
  }
}

/* spring text */
.container3 {
  padding: 10px;
  text-align: center;
  display: none;
  
}
.container3 h1{
  text-align: center;
  margin-bottom: 20px;
  color: #07612e;
 
}

.typing-text {
  font-size: 25px;
  color: #0056b3;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
}

.typing-animation {
  
      animation: typing 10s steps(100, end);

}


@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5); /* Start with 50% size */
  }
  100% {
    transform: scale(1); /* End with 100% size */
  }
}



@keyframes zoomInOut {
  0% {
      font-size: 20px;
      color:rgb(230, 230, 30); 
      font-weight: bold;
  }
  50% {
      font-size: 23px;
      color: #4187d1; 
      font-weight: bold;

  }
  100% {
      font-size: 25px; 
      color:green;
      font-weight: bold;
  }
}



/* spring cards */
.container4 {
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
  display: none;
}
.container4 .card_1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 300px;
  background: #ffff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0,0, 0.5);
  transition: 0.5s;
}
.container4 .card_1:hover {
  height: 400px;
}
.container4 .card_1 .imgbx {
  position: absolute;
  top:20px;
  width: 300px;
  height: 220px;
  background:#333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.container4 .card_1:hover .imgbx {
  top:-100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0,0, 0.2);

}
.container4 .card_1 .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container4 .card_1 .cont {
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}
.container4 .card_1:hover .cont{
  top:130px;
  height: 250px;
}
.container4 .card_1 .cont h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr);
}
.container4 .card_1 .cont p {
  color: #333;

}
.container4 .card_1 .cont a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background: var(--clr);
  color: #ffff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
}

/* Float four columns side by side */
.card_1 {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.container4 {margin: 0 -5px;}

/* Clear floats after the columns */
.container4:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
 
.container4 {
  margin-bottom: 250px;
}
  .container4 .card_1 {
  width: 100%;
}

/* Style the counter cards */
.container4 .card_1 .imgbx {
  width: 90%;
}

.container4 .card_1 .cont{
  width: 100%;

}
}



/* spring video */
.container5 {
    height: 300px;
    padding-top: 10px;
    padding:20px;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

.card___container {
    padding-top: 20px;
     height: 300px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
   }
   .card___article img{
    background-size: cover;
    border-radius: 1.5rem;
    width: 300px;
    height:250Px;
    background-position: center;
 }

.column {
  float:left;
  width: 33%;
  padding: 0 10px;
}


/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  width: 100%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.hello{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Style the counter cards */
.card {
  width: 100%;
  height: 100%;
  text-align: center;
}


/* summer */

/* summer text */
.container6 {
  padding: 10px;
  text-align: center;
  display: none;
  
}
.container6 h1{
  text-align: center;
  animation: zoomIn 1s ease forwards;
  margin-bottom: 20px;
  color: #07612e;
 
}

.typing-text {
  font-size: 25px;
  color: #0056b3;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
}

.typing-animation {
  
      animation: typing 10s steps(100, end);

}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5); /* Start with 50% size */
  }
  100% {
    transform: scale(1); /* End with 100% size */
  }
}



@keyframes zoomInOut {
  0% {
      font-size: 20px;
      color:rgb(230, 230, 30); 
      font-weight: bold;
  }
  50% {
      font-size: 23px;
      color: #4187d1; 
      font-weight: bold;

  }
  100% {
      font-size: 25px; 
      color:green;
      font-weight: bold;
  }
}

/* summer cards */
.container7 {
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
  display: none;
}
.container7 .card_1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 300px;
  background: #ffff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0,0, 0.5);
  transition: 0.5s;
}
.container7 .card_1:hover {
  height: 400px;
}
.container7 .card_1 .imgbx {
  position: absolute;
  top:20px;
  width: 300px;
  height: 220px;
  background:#333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.container7 .card_1:hover .imgbx {
  top:-100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0,0, 0.2);

}
.container7 .card_1 .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container7 .card_1 .cont {
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}
.container7 .card_1:hover .cont{
  top:130px;
  height: 250px;
}
.container7 .card_1 .cont h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr);
}
.container7 .card_1 .cont p {
  color: #333;

}
.container7 .card_1 .cont a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background: var(--clr);
  color: #ffff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
}

/* Float four columns side by side */
.card_1 {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.container7 {margin: 0 -5px;}

/* Clear floats after the columns */
.container7:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {

.container7 {
    margin-bottom: 250px;
  }
 
.container7 .card_1 {
  width: 100%;
}

/* Style the counter cards */
.container7 .card_1 .imgbx {
  width: 90%;
}

.container7 .card_1 .cont{
  width: 100%;

}
}



/* summer video */
.container8 {
  height: 300px;
  padding-top: 10px;
  padding:20px;
  display: none;
  align-items: center;
  justify-content: space-evenly;
}

.card___container {
  padding-top: 20px;
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
 }
 .card___article img{
  background-size: cover;
  border-radius: 1.5rem;
  width: 300px;
  height:250Px;
  background-position: center;
}

.column {
float:left;
width: 33%;
padding: 0 10px;
}


/* Remove extra left and right margins, due to padding */
.row {
margin: 0 -5px;
width: 100%;

}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
}

.hello{
width: 100%;
display: flex;
justify-content: center;
align-items: center;


}

/* Style the counter cards */
.card {
width: 100%;
height: 100%;
text-align: center;
}



/* winter text */
.container9{
  padding: 10px;
  text-align: center;
  display: none;
  
}
.container9 h1{
  text-align: center;
  animation: zoomIn 1s ease forwards;
  margin-bottom: 20px;
  color: #07612e;
 
}

.typing-text {
  font-size: 25px;
  color: #0056b3;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
}

.typing-animation {
  
      animation: typing 10s steps(100, end);

}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5); /* Start with 50% size */
  }
  100% {
    transform: scale(1); /* End with 100% size */
  }
}



@keyframes zoomInOut {
  0% {
      font-size: 20px;
      color:rgb(230, 230, 30); 
      font-weight: bold;
  }
  50% {
      font-size: 23px;
      color: #4187d1; 
      font-weight: bold;

  }
  100% {
      font-size: 25px; 
      color:green;
      font-weight: bold;
  }
}



/* winter cards */
.container10 {
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
  display: none;
}
.container10 .card_1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 300px;
  background: #ffff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0,0, 0.5);
  transition: 0.5s;
}
.container10 .card_1:hover {
  height: 400px;
}
.container10 .card_1 .imgbx {
  position: absolute;
  top:20px;
  width: 300px;
  height: 220px;
  background:#333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.container10 .card_1:hover .imgbx {
  top:-100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0,0, 0.2);

}
.container10 .card_1 .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container10 .card_1 .cont {
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}
.container10 .card_1:hover .cont{
  top:130px;
  height: 250px;
}
.container10 .card_1 .cont h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr);
}
.container10 .card_1 .cont p {
  color: #333;

}
.container10 .card_1 .cont a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background: var(--clr);
  color: #ffff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
}

/* Float four columns side by side */
.card_1 {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.container10 {margin: 0 -5px;}

/* Clear floats after the columns */
.container10:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.container10 {
    margin-bottom: 250px;
  }
 

  .container10 .card_1 {
  width: 100%;
}

/* Style the counter cards */
.container10 .card_1 .imgbx {
  width: 90%;
}

.container10 .card_1 .cont{
  width: 100%;

}
}



/* winter video */
.container11 {
    height: 300px;
    padding-top: 10px;
    padding:20px;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

.card___container {
    padding-top: 20px;
     height: 300px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
   }
   .card___article img{
    background-size: cover;
    border-radius: 1.5rem;
    width: 300px;
    height:250Px;
    background-position: center;
 }

.column {
  float:left;
  width: 33%;
  padding: 0 10px;
}


/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  width: 100%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.hello{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Style the counter cards */
.card {
  width: 100%;
  height: 100%;
  text-align: center;
}






/*autum text */
.container12 {
  padding: 10px;
  text-align: center;
  display: none;
  
}
.container12 h1{
  text-align: center;
  animation: zoomIn 1s ease forwards;
  margin-bottom: 20px;
  color: #07612e;
 
}

.typing-text {
  font-size: 25px;
  color: #0056b3;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
}

.typing-animation {
  
      animation: typing 10s steps(100, end);

}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5); /* Start with 50% size */
  }
  100% {
    transform: scale(1); /* End with 100% size */
  }
}



@keyframes zoomInOut {
  0% {
      font-size: 20px;
      color:rgb(230, 230, 30); 
      font-weight: bold;
  }
  50% {
      font-size: 23px;
      color: #4187d1; 
      font-weight: bold;

  }
  100% {
      font-size: 25px; 
      color:green;
      font-weight: bold;
  }
}

/* autum cards */

.container13 {
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
  display: none;
}
.container13 .card_1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 300px;
  background: #ffff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0,0, 0.5);
  transition: 0.5s;
}
.container13 .card_1:hover {
  height: 400px;
}
.container13 .card_1 .imgbx {
  position: absolute;
  top:20px;
  width: 300px;
  height: 220px;
  background:#333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.container13 .card_1:hover .imgbx {
  top:-100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0,0, 0.2);

}
.container13 .card_1 .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container13 .card_1 .cont {
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}
.container13 .card_1:hover .cont{
  top:130px;
  height: 250px;
}
.container13 .card_1 .cont h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr);
}
.container13 .card_1 .cont p {
  color: #333;

}
.container13 .card_1 .cont a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background: var(--clr);
  color: #ffff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
}

/* Float four columns side by side */
.card_1 {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.container13 {margin: 0 -5px;}

/* Clear floats after the columns */
.container13:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
 
.container13 {
    margin-bottom: 250px;
  }
 

  .container13 .card_1 {
  width: 100%;
}

/* Style the counter cards */
.container13 .card_1 .imgbx {
  width: 90%;
}

.container13 .card_1 .cont{
  width: 100%;

}
}



/* spring video */
.container14 {
    height: 300px;
    padding-top: 10px;
    padding:20px;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

.card___container {
    padding-top: 20px;
     height: 300px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
   }
   .card___article img{
    background-size: cover;
    border-radius: 1.5rem;
    width: 300px;
    height:250Px;
    background-position: center;
 }

.column {
  float:left;
  width: 33%;
  padding: 0 10px;
}


/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  width: 100%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.hello{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Style the counter cards */
.card {
  width: 100%;
  height: 100%;
  text-align: center;
}




#zooming-text {
  margin-top:25px ;
  display: none;
  text-align: center;
  padding: 20px;
  font-size: 20px; /* Initial font size */
  animation: zoomInOut 5s ease-in-out infinite alternate;
}

@media screen and (max-width: 600px) {
  #zooming-text {
    margin-top:380px ;
  }
}




footer {
  color: #ccc;
  background-color: darkslategrey;
  display: flex ;
  align-items: center;
  justify-content:center;
  text-align: center;
  height: 50px;


}


